#bird {
  transform: scale(0.9);
}
@media screen and (min-width: 400px) {
  #bird {
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  #bird {
    transform: scale(0.9);
  }
}
@media screen and (min-width: 960px) {
  #bird {
    transform: scale(0.8);
  }
}

@media screen and (min-width: 1440px) {
  #bird {
    transform: scale(0.9);
  }
}
